*{
    box-sizing: border-box;
    width: 10px 10px 25px 10px;
}

header{
    font-size: larger;
    display: block;
}

nav{
    text-align: right;
    margin: 20px;
    border: 25px 5px 25px 5px antiquewhite;
    padding: 10px;
    display:block  
}

h1{
    display: flexbox;
    content: 5px 10px 5px 10px;
    text-align: left;
    background-color: aqua;
}

h2{
    text-align: right;
}

p{
    font-size: medium;
    text-align: left;
    display:flexbox;
}

a{
    font-size: large;
    color:antiquewhite;
    display: inline-block;
    text-align: center;
    text-align: right;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
}

aside{
    flex-direction: column;
    border: 5px 15px 5px 15px;
    padding: 15px 15px 5px 15px;
    margin: 15px 15px 15px 15px;
    float: left;
    box-decoration-break: inset 5px 0 5px 0px #29627e;
    color: #29627e;
}

main{
    float:right;
    background-color: black;
    padding: 0px;
    border: 0px;
}

p {
    background-image: url('Screenshot-header.png');
}

.p{
    border: 15px 15px 15px 15px;
    text-align: right;
    margin: 5px 5px 5px 5px;
}

footer{
    padding: 15px 15px 15px 15px;
    background-color: black;
    word-spacing: 25px;
    color:gray;
    font-size: small;
    display:flexbox;
    text-align: center;
}
@media screen and (max-width: 768px) {
    main,
    nav{
        flex-direction: column;
    }
    aside {
        order:2;
    }
    header{
        background: #29627e;
    }
    nav,
    footer{
        background-color: blue;
    }
}
