:root{
    --minor-color:white;
    --nav-link-hover: cyan;
    --profile-link-hover:purple;
    --page-selection-link-hover:blue;
    --main-bgcolor: black;

}

body{
    color: var(--minor-color);
    background-color: black;
    background-size: 50%;
}

header{
    font-size: larger;
    text-align: center;
    color: var(--minor-color);
  
}

h1, .a{
    justify-content:space-between;
    margin:2px 2px 2px 2px;
    border: 2px 2px 2px 2px;
    font-size: 100px;
}

.nav, li{

    color: var(--minor-color);
    list-style-type: none;
}

.nav, li, a{
    justify-content: space-between;
    text-align: center;
    border: 5px 5px 5px 5px;
 }

 li{
    font-size: 40px;
 }

 .nav, a, li:hover{
    opacity: 0.4;
    box-shadow: 1px 1px 1px 1px white;
    color: var(--nav-link-hover);

 }

 h2{
    box-shadow: 5px 5px 15px 5px lightblue;
    background-color: var(--minor-bgcolor);
    justify-content:center;
    text-align: center;
}

 p{
    text-align: center;
    display: inline-block;
    color: var(--minor-color);
    font-size: 30px;
 }

 h3{
    font-size: 40px;
 }

 h3:hover{
    opacity: 0.2;
 }
 .profile{
    text-align: center;
    width: 50%;
    margin-right: auto;
    margin-left:auto;
    display: block ;
 }

 .profile, img{
    text-align: justify;
    box-shadow: 5px 5px 5px;
    max-width: 40%;
    height: auto;
 }

    img{
       display: grid;
       column-gap: 50px;
    }
 .p0, .p1, .p2, .p3, .p4{
    box-shadow: 5px 5px 15px 5px lightblue;
    display:grid;
    margin-left:auto;
    margin-right: auto;
    width: 50%;
    text-align: center;

 }

 .page-section{
    margin: auto;
    padding: 5px 5px 5px 5px;
    border:5px 5px 5px 5px;
    color: var(--minor-color);
    text-align: center;
    
 }

 .page-section, .a{
    font-size: 30px;
    border: 2px 2px 2px 2px;
    margin: 2px 2px 2px 2px;
 }

 .p1 img{

 }
 .page-section:hover{
    opacity: 0.5;
    padding: 2px auto;
    --page-selection-link-hover:blue;
 }

 footer, .a{
    color:var(--minor-color);
    font-size: 40px;
 }
 

 .footer, div, .a{
    color: var(--minor-color);
    text-align: center;
 }

 @media screen and (max-width: 900px) and (min-width:375){
    .img{
        grid-template-columns: 1fr;
    }

    header{
        padding:0;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items:center;
        display: flex;
    }

    header h1{
        text-align: center;
        padding: 0;
        margin: 0 auto;
        width: 50%;
    }

    header nav{
        padding-right: 0;
    }

    .nav a{
        border-bottom: 5px solid;
        font-size: small;
        justify-content: space-between;
        display: flex;
        width: 100%;
    }

    p, h2, h3{
        display: flex;
        text-align: center;
    }

    #portfolio img{
        height: 190px;
    }
    .page-section{
        
        align-items: center;
        flex-direction: column;
    }

    footer, .a{

    }

}